*.class
**/target/

# Package Files #
*.jar
*.war

# Eclipse
.project
.settings/
**/.classpath
**/.tern-project
server/WebContent/

# Emacs
*~

# Qt
qt-sender/build
qt-sender/mnist-sender.pro.user
build-*/